@font-face {
    font-family: 'Lekton';
    src: local('Lekton'), url(./fonts/Lekton-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lekton';
    src: local('Lekton'), url(./fonts/Lekton-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Lekton';
    src: local('Lekton'), url(./fonts/Lekton-Italic.ttf) format('truetype');
    font-style: italic;
}

body {
    margin: 0;
    font-family: Lekton;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}